﻿@model Task<List<RssData>>

    <table>
        @foreach (var rss in Model.Result)
        {
        <tr>
            <td>@rss.Title</td>
            <td>@rss.Description</td>
            <td>@rss.PublishDate</td>
        </tr>
        }
    </table>
